

    <div class="">
      <div class="">
        <div class="">管理室</div>
        <div class="">
          <div class="">
          <%= form_tag("/users/login") do %>
            <p>ユーザー名</p>
            <input name="name" value="">
            <p>パスワード</p>
            <input type="password" name="password" value="">

            <br>

            <input type="submit" value="ログイン">
          <% end %>
          </div>
        </div>
      </div>
    </div>
