
<p>開発メモ</p>
  <% @posts.each do |post| %>
    <table border="1" class="blogtable">
        <tr>
            <td class="blogcontent">
                <%= simple_format(post.content) %>
            </td>
        </tr>
        <tr>
            <td class="blogdate" align="right">
                <!-- {{ $data->date }} -->
                <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
            </td>
        </tr>
    </table>
 <% end %>
