
  <% @posts.each do |post| %>
    <table border="1" class="blogtable">
        <tr>
            <td class="blogcontent">
                <%= simple_format(h(post.content)) %>
            </td>
        </tr>
        <tr>
            <td class="blogdate" align="right">
                <!-- {{ $data->date }} -->
                <%= post.created_at %>
            </td>
        </tr>
    </table>
 <% end %>
