
<h3>新規投稿</h3>
<%= form_tag("image_create",{multipart: true}) do %>
  <input type="file" name="image">
  <input type="submit" name="" value="画像アップロード"><br><br>
<% end %>

<%= form_tag("create") do %>

  <textarea name="content" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" name="" value="投稿">
<% end %>
